#side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30vw;
    gap: 50px;
    background-color: rgb(14,37,60);
    height: 100%;
    color: white;
}

#logo{
    font-size: xx-large;
    font-weight: 800;
}

#side-bar div{
    padding: 3% 10%;

}

