
#main-view{
    display: grid;
    grid-template-columns: 30vw 60vw;
    grid-template-rows: 80vh;
    height: 100%;
}

#main-navbar-div{
    grid-column: 1/2;
    grid-row: 1;
}

#main-cryptoview-div{
    grid-column: 2/3;
    grid-row: 1;
}