
#main-view{
    display: grid;
    grid-template-columns: 20vw 79vw;
    grid-template-rows: 97vh;

}

#main-navbar-div{
    grid-column: 1/2;
    grid-row: 1;
}

#main-cryptoview-div{
    grid-column: 2/3;
    grid-row: 1;
}